
/*css variables*/
/*
:root {
   --variableName: 8px; //assim que define a variable, no :root
}
//pra usar
.algumaClasse{
   width: var(--variableName);
}*/

/* Relational selectors */
/*   .classDiv p {...}      --> to selecionando todos os paragrafo dentro da .classdiv */
/*   .classDiv > p {...}    --> to selecionando o FIRST CHILD paragrafo dentro da .classdiv */
/*   .classDiv + p {...}    --> to selecionando o FIRST SIBLING paragrafo dentro da .classdiv */
/*   .classDiv ~ p {...}    --> to selecionando TODOS os SIBLINGs paragrafo dentro da .classdiv */


/* Pseudo class selectors --> usa :  (single dois pontos) */
/* :first-child    --> primeiro child
/* :nth-child(5)   --> 5 child */
/* :first-of-type  --> primeiro do tipo */
/* :last-child     --> bem o q diz...ultimo child */
/*:nth-last-of-type(3) --> bem o q diz...ultimo 3 child do tipo  */
/* :hover              --> hover duh */
/* :focus              --> com focus...tenho q testar ainda */ /*XXXXXXXXX*/
/* :active             --> testar... */ /*XXXXXXXXX*/
/* ex:   .classDiv :first-child {...}   --> primeiro child do .classDiv


/* Pseudo element selectors --> usa ::  (double dois pontos) */
/* ::before */
/* ::after */
/* ::backdrop    -->  algo a ver com modals e tal */
/* ::first-letter */
/* ::first-line */
/* ::placeholder  --> ler depois, mas serve pra tudo q ter placeholder text*/

/*
---attribute selector!! - NUCLEAR OPTION--- so funciona com elementos, nao funciona com classe
exemplo 1, html:
<div algumNomeDeAttributo=""></div>
css:
div[algumNomeDeAttributo]{
   height: 20px;
} 

exemplo 2, html:
html:
<div algumNomeDeAttributo="2"></div>
css:
div[algumNomeDeAttributo="2"]{
   height: 30px;
}
*/



/* Basic selectors */

/* seleciona a classe "umaClasse" sendo q ela tem q ter o atributo "data" */
/* .umaClasse[data] { 

} */

/* seleciona a classe "umaClasse", so q tem q ter o atributo href sendo igual a  http://google.com */
/* esse atributo pode ser meio q qualquer coisa...eu posso inventar ele */
/* .umaClasse[href="http://google.com"] { 

} */
/* quando eu coloco um * (asterisco) antes do = (igual) , eu to procurando parte do valor daquele atributo, no caso qq coisa que href que tenha "google" */
/* .umaClasse[data*="google"] { 

} */

/* quando eu coloco um ^ (chapeu) antes do = (igual) , eu to procurando o valor que COMECA com o que ta entre aspas, ou seja que inicie com "google" */
/* .umaClasse[data^="google"] { 

} */

/* quando eu coloco um $ (cifrao) antes do = (igual) , eu to procurando o valor que TERMINA com o que ta entre aspas, ou seja que termine com "google" */
/* .umaClasse[data$="google"] { 

} */

/* posso misturar eles, no caso aqui em baixo, quero a classe .umaClasse que tenha o atributo href que inicie com "https://" e termine com ".com" */ 
/* .umaClasse[href^="https://"][href$=".com"] { 

} */

/* Relational selectors */
/* markup exemplo */ /*
    <div class="classeDiv">
        <p> </p>               --> .classDiv p ou .classDiv > p
        <div>
            <p> </p>           --> .classDiv p
        </div>
    </div>
    <p> </p>                   --> .classDiv + p ou .classDiv ~ p
    <p> </p>                   --> .classDiv ~ p
*/








