
/* isso aqui tava no index.css do Vite */
:root {
   /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
   font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
   font-size: 16px;
   /* line-height: 24px; */
   font-weight: 400;
   overflow: hidden; /*especificamente desse app*/
}


/* um reset da internet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   font-style: inherit;
}

*, *::before, *::after{
   box-sizing: border-box;
}


input{
   border:none; /* tira o contorno default de input field */
   outline: none;
}


body{
   display: block;
   /* font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace; */
   /* line-height: 1; */
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* setando tamanhos defaults, no vite por alguma razao nao rolava */
/* botar em rem pra ser uniforme por todo o site */
h1 {
   font-size: 2rem;
}
h2 {
   font-size: 1.5rem;
}
h3 {
   font-size: 1.25rem;
}
h4 {
   font-size: 1rem;
}
h5 {
   font-size: .8rem;
}
h6 {
   font-size: .7rem;
}
h1,h2,h3,h4,h5,h6,p{
   line-height: 1.1;
}

/* pra running text, aumentar o line-height */

/*
h1 is   32px   (2em)
h2 is   24px (1.5em)
h3 is 20.8px (1.3em)
h4 is   16px   (1em)
h5 is 12.8px (0.8em)
h6 is 11.2px (0.7em)
*/
